@font-face {
    font-family: GreatVibes;
    src: url("GreatVibes.otf");

}

body {
    background-image: url("night.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    position: absolute;
    width: 1000px;
    height: 50px;
    top: 15%;
    left: 20%;
    font-family: GreatVibes;
    font-size: 40px;
    color: #E1EFF6;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.bod {
    position: absolute;
    width: 800px;
    height: 50px;
    top: 30%;
    left: 20%;
    font-size: 27px;
    color: #001011;
    font-family: GreatVibes;
}
