body {
    background-image: url("night2.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: vegan;
    src: url("vegan.ttf");
}
@font-face {
    font-family: salazar;
    src: url("salazar.ttf");
}

h2 {
    position: absolute;
    width: 1000px;
    height: 50px;
    top: 15%;
    left: 20%;
    font-family: vegan;
    font-size: 40px;
    color: #FFAFF0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.ye {
    position: absolute;
    width: 800px;
    height: 50px;
    top: 32%;
    left: 20%;
    font-size: 35px;
    color: #FCFFFC;
    font-family: salazar;
}

